*.o
*.pro
*.pro.user
*.config
*.creator.user
*.files
*.includes
*.pro.user
*.creator
/build
/example/builds/*
/example/HelperScripts
/build*
*.dll
*.so
*.exe
*.orig
*.out
*.a
*.gch
*.txt
*.pcap
*.pyc
*.py
*.log
